apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-blue
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: bluegreen
      version: blue
  template:
    metadata:
      labels:
        app: bluegreen
        version: blue
    spec:
      containers:
      - name: app
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 5000
        env:
        - name: APP_VERSION
          value: "blue"
